*{
    margin: 0px;
    padding: 0px;
}
header
{   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: auto;
    background-color: #181624;
    display: flex;
    justify-content: space-between;
}
header a{
    text-decoration: none;
    color: rgb(216, 214, 81);;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    padding-right: 100px;
}
header a:hover{
    color: rgb(29, 170, 99);
}
#links{
    display: flex;
    align-content: center;
}
#links a{
    text-decoration: none;
    color: rgb(216, 214, 81);;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
#links img{
    width: 100px;
    height: 100px;
    padding-left: 80px;
}
#links a:hover{
    color: rgb(29, 170, 99);
}
#jumbotron{
    width: 100%;
    height: auto;
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #181624;
    grid-template-columns: 6% 54% 40%;
    grid-template-rows: 35% 20% 15% 25%;

}
#jumbotron img{
    width: auto;
    height: auto;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
h1{
    color: rgb(30, 170, 42);
    padding: 25px 20px 0px 0px ;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
p1{
    color: rgb(216, 214, 81);
    font-size: 17px;
    font-weight: bold;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
#Searchterm{
    width: 75vh;
    height: 7vh;
    border: 3px solid rgb(57, 119, 177);
    border-radius: 20px;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    padding: 0 20px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
#submit{
    width: 25vh;
    height: 8vh;
    border: 3px solid rgb(57, 119, 177);
    border-radius: 20px;
    background-color: rgb(60, 99, 136);
    color: antiquewhite;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    margin-left: 85vh;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
#submit:hover{
    background-color: rgb(34, 228, 241);
}
p2{
    color: rgb(216, 214, 81);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}
#jumbotron a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
#jumbotron a:hover{
    color: crimson;
}    
    .slider {
      margin: 0
      position: relative;
      width: 80%;
      max-width: 800px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      left:500px;
    }

    .slider img {
      width: 100%;
      display: none;
      transition: opacity 0.5s ease-in-out;
    }

    .slider img.active {
      display: block;
      opacity: 1;
    }

    .slider-buttons {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
    }

    .slider-buttons button {
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      color: white;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 18px;
    }

    .slider-buttons button:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
#cotizaciones{
    width: 100%;
    height: auto;
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #181624;
    grid-template-columns: 40% 54% 6%;
    grid-template-rows: 30% 20% 15%;
}
p3{
    color: rgb(30, 170, 42);
    font-size: 30px;
    font-weight: bold;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
p4{
    color: rgb(216, 214, 81);
    font-weight: bold;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
#btncotizaciones{
    width: 25vh;
    height: 8vh;
    border: 3px solid rgb(57, 119, 177);
    border-radius: 20px;
    background-color: rgb(60, 99, 136);
    color: antiquewhite;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}
#btncotizaciones:hover{
    background-color: rgb(34, 228, 241);
}
#cotizaciones img{
    width: auto;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}
#catalogo{
    width: 100%;
    display: inline-flex;
    background-color: azure;
    position: relative;
    overflow: hidden;
}
#catalogo img{
    width: 400px;
    height: 300px;
}
#contactenos{
    width: 100%;
    justify-items: space-around;
    background-color: #181624;
    align-content: center;
    display: inline-flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#contactenos i{
    background-color: #181624;
    justify-content: space-around;
    font-size: 50px;
    text-decoration: none;
    padding: 20px;
    color: rgb(216, 214, 81);
}
#contactenos i:hover{
    color: rgb(29, 170, 99);
}
.nav{
    margin-left: 200px;
    padding: 20px;
    display: flex;
    list-style: none;
    background-color: #181624;
    width: 500px;
}
.nav li a{
    text-decoration: none;
    color: rgb(216, 214, 81);
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    display: block;
}
.nav li a:hover{
    color: rgb(29, 170, 99);
}
.nav >li{
    float: left;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
ul{
    list-style: none;
}
.nav li:hover > ul{
    display:block;
}
footer{
    height: 90px;
    padding-top: 28vh;
    color: rgb(216, 214, 81);
    background-color: #181624;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer i{
    margin-left: 400px;
    margin-top: 25px;
}

@media screen and (max-width: 550px){


}
